// Forms and form elements base styles/mixins

@import breakpoints
@import compass/css3/transition
@import compass/css3/appearance
@import compass/css3/inline-block

// Buttons

@function button_hover($color)
  @return darken($color, 10%)

=button($color_background: $color_background, $color_hovered: button_hover($color_background), $color_text: $color_text, $height: $m*1.5)
  height: $height
  border: 0
  line-height: $height
  color: $color_text
  background-color: $color_background
  +transition(background-color, .1s ease)
  &:hover
    background-color: $color_hovered
    cursor: pointer

=button_success($height: $button_height)
  +button($color_success, button_hover($color_success), white)

=button_warning($height: $button_height)
  +button($color_warning, button_hover($color_warning), white)

=button_danger($height: $button_height)
  +button($color_calm, button_hover($color_calm), white)

=button_calm($height: $button_height)
  +button($color_calm, button_hover($color_calm), white)

=button_default
  +button(none, rgba(black, .1))
  border: 1px solid $color_text
  text-transform: uppercase
  font-size: $size_small

=button_dark
  +button(#222, #333, white)
  text-transform: uppercase
  font-size: .75em
  +inline-block

=button_box
  line-height: 40px
  text-transform: uppercase
  padding: 0 $m/2
  letter-spacing: 2px
  font-weight: 400
  font-size: .9em
  +transition(background-color, .15s ease)
  border: 2px solid white

=button_box_white
  +button_box
  background-color: #C60021
  border-color: white
  color: white
  &:hover
    background: white
    color: $palette_magenta

=button_box_magenta
  +button_box
  color: $palette_magenta
  background: white
  border-color: $palette_magenta
  &:hover
    background: $palette_magenta
    color: white

=reset_button
  background: none !important
  border: none !important
  +text-shadow(none !important)

=form_boxed_dotted_lines
  color: white
  position: relative
  border: 2px solid white
  padding: $m $m*2 $m*3
  .form-item
    margin-bottom: $m
  input[type=text],
  input[type=password],
  input[type=email],
    +transition(background-color .1s ease)
    border: 1px dashed white
    border-width: 0 0 1px 0 
    background: none
    &:focus
      outline: 0
      background-color: rgba(black, .1)
  #edit-submit
    +button_box_white
    position: absolute
    line-height: $m*2
    bottom: -$m
    width: $m*10
    left: calc(50% - #{$m*5})
  textarea
    border: 1px dashed white
    background: none
    +transition(background-color .1s ease)
    &:focus
      outline: 0
      background-color: rgba(black, .1)
  .description
    margin-top: $m/3
  label
    +h(5)
    display: block
    text-transform: uppercase
    margin-bottom: $m/3

=form_user_profile
  +links_magenta_brown
  .form-item
    margin-bottom: $m
  label
    +h(5)
    text-transform: uppercase
    color: $palette_magenta
  input[type=text],
  input[type=email],
  input[type=password]
    +transition(background-color .25s ease)
    border: 1px dashed rgba($palette_brown, .5)
    border-width: 0 0 1px 0
    background: none
    margin: $m/2 0
    &:focus
      background-color: #eee
      outline: 0
  .description
    opacity: .8
  select
    border: 1px dashed rgba($palette_brown, .5)
    border-width: 0 0 1px 0
    background: none
    text-align: center
    +appearance(none)
  details
    border: 0
  summary
    text-transform: uppercase
    font-size: .9em
    text-decoration: underline
  #edit-language
    margin-top: $m*2
  input[type=submit]
    +button_box_magenta
  #edit-actions
    margin-top: $m*3
    text-align: center
