<svg
   xmlns:dc="http://purl.org/dc/elements/1.1/"
   xmlns:cc="http://creativecommons.org/ns#"
   xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
   xmlns:svg="http://www.w3.org/2000/svg"
   xmlns="http://www.w3.org/2000/svg"
   xmlns:sodipodi="http://sodipodi.sourceforge.net/DTD/sodipodi-0.dtd"
   xmlns:inkscape="http://www.inkscape.org/namespaces/inkscape"
   width="153.34837mm"
   height="80.175873mm"
   viewBox="0 0 543.36038 284.08773"
   id="svg7472"
   version="1.1"
   inkscape:version="0.91 r13725"
   sodipodi:docname="nubes.svg">
  <defs
     id="defs7474" />
  <sodipodi:namedview
     id="base"
     pagecolor="#ffffff"
     bordercolor="#666666"
     borderopacity="1.0"
     inkscape:pageopacity="0.0"
     inkscape:pageshadow="2"
     inkscape:zoom="1.4"
     inkscape:cx="267.58259"
     inkscape:cy="143.68742"
     inkscape:document-units="px"
     inkscape:current-layer="layer1"
     showgrid="false"
     fit-margin-top="0"
     fit-margin-left="0"
     fit-margin-right="0"
     fit-margin-bottom="0"
     inkscape:window-width="1920"
     inkscape:window-height="1056"
     inkscape:window-x="0"
     inkscape:window-y="0"
     inkscape:window-maximized="1" />
  <metadata
     id="metadata7477">
    <rdf:RDF>
      <cc:Work
         rdf:about="">
        <dc:format>image/svg+xml</dc:format>
        <dc:type
           rdf:resource="http://purl.org/dc/dcmitype/StillImage" />
        <dc:title></dc:title>
      </cc:Work>
    </rdf:RDF>
  </metadata>
  <g
     inkscape:label="Capa 1"
     inkscape:groupmode="layer"
     id="layer1"
     transform="translate(1541.4998,714.42085)">
    <g
       transform="translate(3457.4076,-832.772)"
       id="g8876">
      <path
         inkscape:export-ydpi="89.999977"
         inkscape:export-xdpi="89.999977"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         style="opacity:1;fill:#c5c5c5;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         d="m -4898.6738,251.33205 18.6907,32.37299 -3.2464,5.62294 5.5564,0 16.2248,28.09992 -16.2248,28.09985 -16.225,0 -16.2249,0 -45.4283,0 -3.1125,0 -25.7915,0 -14.4521,-25.02958 14.4521,-25.02947 7.8432,0 -4.3008,-7.44857 11.8375,-20.50169 23.6751,0 9.3453,-16.18639 37.3812,0 z"
         id="path7729"
         inkscape:connector-curvature="0" />
      <path
         inkscape:export-ydpi="89.999977"
         inkscape:export-xdpi="89.999977"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         style="fill:#c5c5c5;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m -4861.2236,326.31358 -115.1638,0"
         id="path7731"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="cc" />
      <path
         inkscape:connector-curvature="0"
         id="path16112"
         d="m -4762.9065,118.35115 -50.2986,87.11915 8.7364,15.13196 -14.9526,0 -43.6629,75.61985 43.6629,75.61974 43.6629,0 43.6629,0 122.2526,0 8.3757,0 69.408,0 38.892,-67.35733 -38.892,-67.35692 -21.1071,0 11.574,-20.04489 -31.8563,-55.17219 -63.712,0 -25.1492,-43.55937 -100.5967,0 z"
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path16136"
         d="m -4860.0813,356.21024 309.9179,0"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16140"
         d="m -4570.4457,221.89873 -86.7641,134.31151"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16142"
         d="m -4634.1577,221.89873 -100.5968,0"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16145"
         d="m -4801.4657,280.59039 43.6593,75.61985"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path16149"
         d="m -4550.1634,297.11578 0,59.09446"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         d="m -4754.5828,193.24923 -39.1159,67.75004 6.7941,11.76771 -11.6281,0 -33.9557,58.80755 33.9557,58.80734 33.9552,0 33.9555,0 95.0726,0 6.5136,0 53.9766,0 30.2454,-52.3819 -30.2454,-52.38157 -16.4144,0 9.0008,-15.58842 -24.7737,-42.90588 -49.5473,0 -19.5577,-33.87487 -78.2313,0 z"
         id="path16157"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16159"
         d="m -4766.6602,402.4389 -33.9817,-58.85795 5.9023,-10.2231 -10.1022,0 -29.4988,-51.08916 29.4988,-51.08894 29.4989,0 29.4988,0 82.5944,0 5.6587,0 46.8922,0 26.2757,45.50679 -26.2757,45.50668 -14.2599,0 7.8193,13.54229 -21.5221,37.27453 -43.0442,0 -16.9909,29.42886 -67.9636,0 z"
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         d="m -4872.1862,206.95773 -29.7518,51.53136 5.1675,8.95063 -8.8446,0 -25.827,44.72958 25.827,44.72948 25.8269,0 25.8268,0 72.3132,0 4.9542,0 41.0552,0 23.005,-39.8422 -23.005,-39.84199 -12.4849,0 6.846,-11.85672 -18.843,-32.6346 -37.686,0 -14.8761,-25.76554 -59.5034,0 z"
         id="path16272"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m -4936.6096,326.31358 183.3182,0"
         id="path16274"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="cc"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m -4765.2885,246.86756 -51.3214,79.44602"
         id="path16276"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m -4802.9744,246.86756 -59.5036,0"
         id="path16278"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m -4753.2914,291.35885 0,34.95473"
         id="path16282"
         inkscape:connector-curvature="0"
         sodipodi:nodetypes="cc"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16284"
         d="m -4874.2066,229.92117 -23.1373,40.07454 4.0187,6.96066 -6.8782,0 -20.0848,34.78506 20.0848,34.78484 20.0848,0 20.0849,0 56.2359,0 3.853,0 31.9275,0 17.8901,-30.98416 -17.8901,-30.98404 -9.7093,0 5.324,-9.22062 -14.6537,-25.3791 -29.3075,0 -11.5687,-20.03718 -46.2741,0 z"
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         d="m -4866.169,238.73284 -20.1005,34.81479 3.4913,6.04707 -5.9754,0 -17.4488,30.21953 17.4488,30.2194 17.4487,0 17.4487,0 48.8552,0 3.347,0 27.737,0 15.5422,-26.91757 -15.5422,-26.91748 -8.4347,0 4.6251,-8.01032 -12.7305,-22.04812 -25.4609,0 -10.0502,-17.4073 -40.2008,0 z"
         id="path16286"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         d="m -4588.9902,224.46964 -43.6593,75.61989"
         id="path16288"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16290"
         d="m -4515.1603,154.23818 29.7518,51.53149 -5.1676,8.95062 8.8447,0 25.8268,44.72958 -25.8268,44.72947 -25.827,0 -25.8268,0 -72.3131,0 -4.9544,0 -41.055,0 -23.005,-39.8422 23.005,-39.84202 12.4848,0 -6.8461,-11.85668 18.8431,-32.63468 37.6861,0 14.8759,-25.76558 59.5036,0 z"
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path16292"
         d="m -4455.547,273.59413 -183.3183,0"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16294"
         d="m -4626.8681,194.14813 51.3214,79.446"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16296"
         d="m -4589.1822,194.14813 59.5036,0"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16298"
         d="m -4490.2184,228.86452 -25.8247,44.72961"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         sodipodi:nodetypes="cc"
         inkscape:connector-curvature="0"
         id="path16300"
         d="m -4638.8653,238.63938 0,34.95475"
         style="fill:#f4fbff;fill-opacity:0.52311683;fill-rule:evenodd;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         d="m -4526.3678,177.20167 23.1374,40.07462 -4.0188,6.96062 6.8782,0 20.0849,34.78509 -20.0849,34.78483 -20.0848,0 -20.0848,0 -56.2362,0 -3.8528,0 -31.9275,0 -17.8902,-30.98416 17.8902,-30.98408 9.7094,0 -5.324,-9.22061 14.6537,-25.37905 29.3074,0 11.5687,-20.03726 46.2741,0 z"
         id="path16302"
         inkscape:connector-curvature="0"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path16304"
         d="m -4547.6332,186.01333 20.1005,34.81487 -3.4913,6.04702 5.9756,0 17.4486,30.21957 -17.4486,30.21942 -17.4487,0 -17.4488,0 -48.8551,0 -3.3472,0 -27.7369,0 -15.5423,-26.91759 15.5423,-26.91751 8.4346,0 -4.625,-8.01032 12.7305,-22.04808 25.4608,0 10.0502,-17.40738 40.2008,0 z"
         style="opacity:1;fill:#f4fbff;fill-opacity:0.52311683;stroke:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
      <path
         inkscape:connector-curvature="0"
         id="path11786-6"
         d="m -4730.3352,223.59594 -15.0173,26.01122 15.0173,26.0115 -15.018,26.01122 60.0711,0 -15.018,-26.01122 15.018,-26.0115 -15.018,-26.01122 -30.0351,0 z"
         style="opacity:1;fill:#57001d;fill-opacity:1;stroke:none;stroke-width:10;stroke-linejoin:round;stroke-miterlimit:4;stroke-dasharray:none;stroke-dashoffset:0;stroke-opacity:1"
         inkscape:export-filename="/home/z/Escritorio/maadix-home-II.png"
         inkscape:export-xdpi="89.999977"
         inkscape:export-ydpi="89.999977" />
    </g>
  </g>
</svg>
