{#
/**
 * @file
 * Default theme implementation for the completion message.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - payment_instructions: The payment instructions, if provided.
 *
 * @ingroup themeable
 */
#}
<div class="checkout-complete">
  {{ 'Your payment has been succesfully completed.'|t }} <br>
  <br>
  {{ 'You can view your services details <a href="/user/@customerid/ordered-items">here</a>.'|t({'@customerid': order_entity.getCustomerId()}) }} <br>
  {% if payment_instructions %}
    <div class="checkout-complete__payment-instructions">
      <h2>{{ 'Payment instructions'|t }}</h2>
      {{ payment_instructions }}
    </div>
  {% endif %}
</div>
