// Software features. 
// First block of features in the frontpage

.software-features,
.other-features
  position: relative
  background-color: white
  text-align: center
  +clearfix
  +links_box_magenta
  padding-top: $m*1.5
  +breakpoint('sm')
    padding: $m*2
    min-height: 50vh

.other-features
  +breakpoint('xs')
    padding-bottom: $m*2
    

.software-features__title,
.other-features .container__left
  display: inline-block
  float: left
  +breakpoint('sm')
    width: 33.33%
  +breakpoint('lg')
    width: 16.66%

.software-features__title,
.other-features__title
  color: #DC0035
  margin: 0 0 $m
  padding: $m
  font-weight: 900
  text-decoration: underline
  +breakpoint('sm')
    text-align: left
    padding: 0

.software-features__list,
.other-features__list
  +clearfix
  +breakpoint('sm')
    margin-top: $m

.software-features__list-item,
.other-features__list-item
  padding: $m/2
  margin-bottom: $m*2
  +breakpoint('sm')
    display: inline-block
    float: left
  +breakpoint('sm')
    width: 33.33%
  +breakpoint('lg')
    width: 16.66%

    margin-bottom: 0

.software-features__list-item-image
  max-width: 75%

.other-features__list-item-image
  max-width: 33%
.other-features__list-item:nth-child(3)
  .other-features__list-item-image
    max-width: 20%

.software-features__list-item-image,
.other-features__list-item-image
  +breakpoint('sm')
    max-height: 100%
    max-width: 50%
    height: 100px

.software-features__list-item-subtitle,
.other-features__list-item-subtitle
  text-transform: uppercase
  font-weight: 400
  border-bottom: 1px solid rgba(black, .25)
  padding-bottom: $m/2
  margin-bottom: $m/2

.other-features__button
  margin-top: $m
  display: inline-block
  +button_box_magenta
  border-width: 2px !important

