// Layout for the content section


// Most cases

.layout-content 
  background: white
  +box-shadow(0 0 10px rgba(black, .25))
  .region-content
    padding-bottom: $m*4
    color: $palette_brown
    +breakpoint('sm')
      padding-top: $m*2

.layout-container--full
  margin: 0

.layout-content--wide
  border: 2px solid white
  border-width: 2px 0
  .region-content
    +container-fixed

.layout-content--displaced
  padding: $m
  border: 2px solid white
  border-width: 2px 0
  +breakpoint('sm')
    padding: 0
    margin-left: 25%
    border-width: 2px 0 2px 2px
    .region-content
      max-width: 66% !important
      margin: 0 auto

.region-content
  position: relative

.path-frontpage .layout-content
  background: none
  +box-shadow(none)


// Layout of user form pages (login, signin, password)


.layout-content--user-login,
.path-contact .layout-content
  margin: 0
  background: none
  .region-content
    +container-fixed
    padding: $m*5 $m $m*4
    position: relative
    width: 480px
    max-width: 100%
    background: none
    +sticky_footer--no-header--no-footer

.layout-content--user-dashboard
  .region-content
    +sticky_footer--no-footer

.layout-content--checkout-login
  margin: 0
  background: none
  .region-content
    +container-fixed
    padding: $m*5 $m $m*4
    position: relative
    width: 960px
    max-width: 100%
    background: none
    +sticky_footer--no-header--no-footer
