// Checkout review form

// Payment information
.layout-content--checkout-review
  padding: $m
  .region-content
    +container-fixed

#edit-review-payment-information,
#edit-review-contact-information
  border: 2px solid $palette_brown
  padding: $m*2
  legend
    +h(3)
    padding: 0 $m
    a
      display: none

#edit-review-payment-information
  .address
    margin-top: $m

.layout-content--checkout-review
  .layout-region-checkout-footer
    width: 100%
    margin-top: $m*2
    text-align: center
    input[type=submit]
      display: inline-block
      +button_box_magenta
    a
      display: inline-block
      +button_box_magenta
