// Content of pages and other nodes

.node__content
  +links_weight_dotted_white
  padding-top: $m*3

  h2
    font-size: 1.4rem
    border-bottom: 2px solid white
    border-top: 2px solid white
    text-transform: uppercase
    margin: $m*2 0 $m*1.5
    padding: $m/3 0
  h4
    font-weight: 400
    font-size: 1.3rem
    text-transform: uppercase
    margin-bottom: $m/2
    padding: $m/3 0

  p, li
    margin-bottom: $m/3
    text-align: justify
    font-size: 1.1em
