// Footer menu

.menu--footer,
.menu--documentacion-tecnica
  .menu
    text-transform: uppercase
    font-size: .8em
    letter-spacing: 2px
    margin-left: 0
    a.is-active
      +links_white_magenta
  .menu-item
    margin-bottom: $m/3

#block-documentaciontecnica-menu,
#block-piedepagina-menu
  font-weight: 400
  text-transform: uppercase
  font-size: .8em
  letter-spacing: 2px
  color: white
  font-size: .8em
  text-decoration: underline
  opacity: .75

#block-piedepagina-menu
  margin-top: $m !important
